<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FineUIMvc" type="FineUIMvc.ConfigSection, FineUIMvc" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Theme="Default" 
      Language="zh_CN" 
      DebugMode="false"
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      FormLabelAlign="Left" 
      FormRedStarPosition="AfterText" 
      EnableAjax="true" 
      EnableAjaxLoading="true" 
      AjaxTimeout="120" 
      AjaxLoadingType="Default" 
      AjaxLoadingText="" 
      ShowAjaxLoadingMaskText=false
      AjaxLoadingMaskText="" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/themes" 
      IconBasePath="~/res/icon" 
      JSBasePath="~/res/js"
      IEEdge="true"
      EnableShim="false"  
      EnableCompactMode="false"
      EnableLargeMode="false"
      MobileAdaption="true"
      EnableAnimation="false"
      LoadingImageNumber="1"
  -->
  <FineUIMvc DebugMode="true" CustomTheme="pure_green" EnableAnimation="false"/>
  <dataConfiguration defaultDatabase="sqlserver">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient"/>
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SqLite" name="System.Data.SQLite"/>
    </providerMappings>
  </dataConfiguration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="DeplayToken" value="e10adc3949ba59abbe56e057f20f883e"/>
  </appSettings>
  <system.webServer>
    <!--<httpModules>
      <add name="FineUIMvcScriptModule" type="FineUIMvc.ScriptModule, FineUIMvc" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUIMvc.ResourceHandler, FineUIMvc" />
    </httpHandlers>-->
    <security>
      <requestFiltering>
        <!-- 请求正文的最大值： 100 * 1024 * 1024 = 104857600 bytes = 100M （IIS 7 默认文件上传大小时30M）  -->
        <requestLimits maxAllowedContentLength="2048576000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="FineUIMvcScriptModule" type="FineUIMvc.ScriptModule, FineUIMvc"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUIMvc.ResourceHandler, FineUIMvc"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="1073741824" executionTimeout="3600"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="GGArchiveSystemEntities" connectionString="metadata=res://*/Models.SSArchiveSystem.csdl|res://*/Models.SSArchiveSystem.ssdl|res://*/Models.SSArchiveSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DST56035\EXPRESS2104;initial catalog=GGArchiveSystem;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=DST56035\EXPRESS2104;initial catalog=GGArchiveSystem;user id=sa;password=sa123"/>
    <add name="UpdateFileDb" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=DST56035\EXPRESS2104;initial catalog=GGArchiveSystem;user id=sa;password=sa123;Connect Timeout=1800"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>