
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowUploadFileNew</title>
    <script src="~/Scripts/ajaxfileupload.js"></script>
</head>
<body>
    <div> 
        上传文件<input type="file" name="fileUpload" />
    </div>
</body>
</html>
