@model IEnumerable<ShenGoArchiveSystemDal.T_SYFIELDS>
@{
    var F = @Html.F();
}

@section head {
    <link type="text/css" rel="stylesheet" href="~/res/css/index.css" />
}

@section body {
    <div id="content">
        @{
            ShenGoArchiveSystemDal.V_WS en = ViewBag.Archive as ShenGoArchiveSystemDal.V_WS;
            Type type = en.GetType();


            foreach (var n in Model)
            {
                object obj = type.GetProperty(n.Name).GetValue(en);
                string value = obj == null ? "" : obj.ToString();
                if (n.Type == 1 || n.Type == 2)
                {
                    @(F.TextBox().ID("txt_" + n.Name).Label(n.Fields).LabelAlign(LabelAlign.Right).Width(500).Text(value).Readonly(false))
                }
                else if (n.Type == 3)
                {
                    DateTime? dt;
                    if (value == "")
                    {
                        dt = null;
                    }
                    else
                    {
                        try
                        {
                            dt = Convert.ToDateTime(value);
                        }
                        catch { dt = null; }
                    }
                    @(F.DatePicker().ID("date_" + n.Name).Label(n.Fields).LabelAlign(LabelAlign.Right).Width(500).SelectedDate(dt).Readonly(false))
                }
                else if (n.Type == 5)
                {
                    @(F.DropDownList().ID("cmb_" + n.Name).Label(n.Fields).LabelAlign(LabelAlign.Right).Width(500).Items((ListItem[])ViewData[n.V01]).SelectedValue(value).Readonly(false))
                }
            }
        }
    </div>

    @*@(F.Form()
        .BodyPadding(5)
        .AutoScroll(true)
        .ShowHeader(false)
        .ShowBorder(false)
        .ID("form_Add")
        .IsViewPort(true)
        .ContentEl("#content")
        .Toolbars(
            F.Toolbar()
                .ID("Toolbar1")
                .ToolbarAlign(ToolbarAlign.Right)
                .Position(ToolbarPosition.Bottom)
                .Items(
                    F.Button()
                        .ID("btn_Add")
                        .Text("添加信息")
                        .IconFont(IconFont.Send)
                        .OnClick(Url.Action("btnAddNew_Click"), "form_Add")
                )
        )
    )*@
}
